<header
    class="fixed z-25 w-full flex border-b-3 border-amber-500 justify-between items-center bg-dark-blue px-4 py-3 bg-blue-950 text-slate-100">
    <ol class="flex text-sm">
        <a href="/dashboard" class="px-4">Home</a>
        <a href="/myshows" class="px-4">My Shows</a>
        <a href="/calendar" class="px-4">Calendar</a>
        <a href="/explore" class="px-4">Explore</a>
    </ol>
    <div class="absolute pointer-events-none top-0 left-0 w-full h-full flex justify-center items-center">
        <a href="/dashboard" class="pointer-events-auto w-34">
            <img src="images/trackseries_logo_transparent_white-CWpdaCPp.png" alt="" />
        </a>
    </div>
    <div class="flex">
        <a href="/search" class='bx bx-search'></a>
        <div class="">user</div>
    </div>
</header>
<div class="absolute -top-50 left-0 -z-10 bg-black/20">
    <img class="" src="images/7mkUu1F2hVUNgz24xO8HPx0D6mK.jpg" alt="">
</div>