<section class="aspect-12/1 flex justify-center items-center mt-13">
    <form class="bg-white border border-blue-100 w-80 aspect-8/1 flex items-center rounded"
        (submit)="filterShows(searchInput.value); $event.preventDefault()">
        <input #searchInput type="text" class="grow px-2 focus:outline-none text-sm"
            [value]="route.snapshot.queryParams['query'] || ''">
        <i class='bx bx-search text-blue-950 text-3xl'></i>
    </form>
</section>
<section class="bg-slate-100 rounded-t-2xl overflow-clip">
    <div *ngIf="searchInput.value.trim() !== ''" class="text-sm pt-4 flex justify-center">
        <p class="border border-blue-100 bg-white w-fit px-3 rounded-full"><b>{{shows.length}}</b> results for
            <b class="italic">{{searchInput.value}}</b>
        </p>
    </div>
    <div class="grid grid-cols-1 2xl:grid-cols-4 xl:grid-cols-2 gap-6 p-6">
        <div *ngIf="shows.length === 0 && searchInput.value.trim() !== ''" class="col-span-full text-center h-[54vh]">
            <h1 class="font-bold text-6xl">No shows found</h1>
        </div>

        <div *ngIf="searchInput.value.trim() === ''" class="col-span-full text-center h-[54vh]">
            <h1 class="font-bold text-6xl">Search for more shows</h1>
        </div>
        <app-search-item *ngFor="let show of shows" [show]="show"></app-search-item>
    </div>
</section>