<div class="absolute -top-15 -z-10">
    <img src={{show?.bgBanner}} alt="">
</div>
<div class="aspect-5/2 bg-black/60 text-white text-5xl font-bold flex flex-col gap-4 items-center justify-center">
    <h1>{{show?.title}}</h1>
    <h2>({{show?.seasons?.[0]?.episodes?.[0]?.epAired | date: 'yyyy'}})</h2>
</div>
<section class="bg-slate-50 grid grid-cols-[2fr_3fr_2fr] gap-x-16 p-3 -mt-4 rounded-t-2xl">
    <div class="flex justify-end h-46">
        <img src={{show?.seasons?.[0]?.poster}} alt="" class="aspect-17/25 w-40 -mt-12 shadow-2xl rounded border">
    </div>
    <div>
        <div class="text-xl mb-2 flex gap-2 items-center">
            <p>
                <b>{{show?.seasons?.[0]?.episodes?.[0]?.epAired | date: 'EEEE'}}s</b> at
                <b>{{show?.seasons?.[0]?.episodes?.[0]?.epAired |
                    date: 'h:mm a' | uppercase}}</b> on <b>{{show?.network}}</b>
            </p>
            <i class="bx bxs-share-alt opacity-80"></i>
        </div>
        <p class="text-[13px]">{{show?.description}}</p>
    </div>
    <div class="text-sm">
        <ol>
            <li><b>Network:</b> {{show?.network}}</li>
            <li><b>Country:</b> {{show?.country}}</li>
            <li><b>Runtime:</b> 0</li>
            <li><b>Content Rating:</b> {{show?.contentRating}}</li>
            <li><b>Status:</b> {{show?.showStatus}}</li>
        </ol>
        <select name="" id="" class="border border-blue-100 rounded p-1 bg-white mt-4 shadow-2xl focus:outline-0">
            <option value="">Add to your Wishlist</option>
            <option value="">Following</option>
            <option value="">Move to abandonded</option>
            <option value="">Stop following</option>
        </select>
    </div>
</section>
<section class="bg-slate-200 p-2 flex justify-center gap-4">
    <a *ngFor="let cover of show?.seasons; let i = index" class="aspect-11/16 w-38 rounded shadow-2xl overflow-clip"
        [class.ring-blue-500]="currentSeason - 1 === i" [class.ring-4]="currentSeason - 1 === i"
        [routerLink]="['/shows', show?.id, makeSlug(show?.title), i + 1]">
        <img src={{cover.poster}} alt="">
    </a>
</section>
<div class="bg-slate-50 p-6">
    <div class="flex items-center gap-4 mb-4">
        <h2 class="text-2xl font-bold grow">Season {{currentSeason}}</h2>
        <i [class.bx-grid-alt]="gridView" [class.bx-list-ul]="!gridView"
            class="bx text-white bg-blue-950 text-lg p-2 rounded" (click)="gridView = !gridView"></i>
    </div>
    <section *ngIf="!gridView" class="flex flex-col gap-6">
        <app-ep-list *ngFor="let ep of show?.seasons?.[currentSeason - 1]?.episodes" [episode]="ep"
            [currentSeason]="currentSeason"></app-ep-list>
    </section>
    <section *ngIf="gridView" class="grid grid-cols-4 gap-6">
        <app-ep-grid *ngFor="let ep of show?.seasons?.[currentSeason - 1]?.episodes" [episode]="ep"
            [currentSeason]="currentSeason" (infoRequested)="selectedEpisode = $event"></app-ep-grid>
    </section>
</div>
<app-extra [episodeData]="selectedEpisode"></app-extra>