<div class="absolute -top-15 -z-10">
    <img src={{show?.bgBanner}} alt="">
</div>
<div class="aspect-5/2 bg-black/60 text-white text-5xl font-bold flex flex-col gap-4 items-center justify-center">
    <h1>{{show?.title}}</h1>
    <h2>({{show?.seasons?.[0]?.startedAiring | date: 'yyyy'}})</h2>
</div>
<section class="bg-slate-50 grid grid-cols-[2fr_3fr_2fr] gap-x-16 p-3 -mt-4 rounded-t-2xl">
    <div class="flex justify-end h-46">
        <img src={{show?.seasons?.[0]?.poster}} alt="" class="aspect-17/25 w-40 -mt-12 shadow-2xl rounded border">
    </div>
    <div>
        <div class="text-xl mb-2 flex gap-2 items-center">
            <p>
                <b>{{show?.seasons?.[0]?.startedAiring | date: 'EEEE'}}s</b> at <b>{{show?.seasons?.[0]?.startedAiring |
                    date: 'h:mm a' | uppercase}}</b> on <b>{{show?.network}}</b>
            </p>
            <i class="bx bxs-share-alt opacity-80"></i>
        </div>
        <p class="text-[13px]">{{show?.description}}</p>
    </div>
    <div class="text-sm">
        <ol>
            <li><b>Network:</b> {{show?.network}}</li>
            <li><b>Country:</b> {{show?.country}}</li>
            <li><b>Runtime:</b> 0</li>
            <li><b>Content Rating:</b> {{show?.contentRating}}</li>
            <li><b>Status:</b> {{show?.showStatus}}</li>
        </ol>
        <select name="" id="" class="border border-blue-100 rounded p-1 bg-white mt-4 shadow-2xl focus:outline-0">
            <option value="">Add to your Wishlist</option>
            <option value="">Following</option>
            <option value="">Move to abandonded</option>
            <option value="">Stop following</option>
        </select>
    </div>
</section>
<section class="bg-slate-200 p-2 flex justify-center gap-2">
    <a *ngFor="let cover of show?.seasons" class="aspect-11/16 w-38 rounded shadow-2xl overflow-clip">
        <img src={{cover.poster}} alt="">
    </a>
</section>
<div class="bg-slate-50 p-6">
    <div class="flex items-center gap-4 mb-4">
        <h2 class="text-2xl font-bold grow">Season {{show?.seasons?.[0]?.season}}</h2>
        <i class="bx bx-grid-alt text-white bg-blue-950 text-lg p-2 rounded"></i>
    </div>
    <section class="grid grid-cols-4 gap-6">
        <div *ngFor="let ep of show?.seasons?.[0]?.episodes"
            class="shadow-2xl aspect-5/3 group rounded-xl overflow-clip">
            <div class="overflow-clip">
                <img src={{ep.epThumbnail}} alt="">
            </div>
            <div class="p-2 border-t-3 border-blue-950 text-sm">
                <p class="font-bold line-clamp-1">
                    <span class="text-amber-500">{{show?.seasons?.[0]?.season}}x{{ep.epNo.toString().padStart(2,
                        '0')}}</span> {{ep.epTitle}}
                </p>
                <p>
                    {{show?.seasons?.[0]?.startedAiring| date: 'h:mm a' | uppercase}} {{
                    getEpisodeDate(show?.seasons?.[0]?.startedAiring, ep.epNo) | date: 'EEEE, MMMM d, y' }}
                </p>
            </div>
        </div>
    </section>
</div>